@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}

body{
    min-width: 480px;
    color: white;
    background-image: url(../img/0.fondooscuro1.jpg);
}
body ul li{
    margin: 10px;
}
header{
    color: white;
    font-size: 20px;
    height:50px;
    text-align: center;
}
header nav ul li{
    display: inline-block;
    list-style: none;
    padding: 10px;
}
li a{
    color: white;
    text-decoration: none;
}
li a:hover{
    color: grey;
}
main{
    height: calc(100vh - 230px);
    width: 100%;
    background-size: cover;
}
.titulos{
    width: 100%;
    margin-top: 20px;
    height: 50px;
    font-size: 30px;
}
h1{
    text-align: center;
    padding-top: 50px;
}
h2{
    color: grey;
    font-size: 30px;
    text-align: center;
}
main ul{
    padding-top: 100px;
    text-align: center;
}
footer{
    color: white;
    text-align: center;
    margin-top: 100px;
}
input{
    font-size: 25px;
}
textarea{
    font-size: 25px;
}
footer .redes i{
    color: white;
    font-size: 40px;
    letter-spacing: 15px;
}
footer .redes i:hover{
    color: grey;
}

.imghobbies{
    margin: auto;
    height: 150px;
}
.formulario{
    font-size: 35px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 70%;
}
form div{
    text-align: center;
}
form div div{
    width: 100%;
}
.radioimput{
    cursor: pointer;
}
.formularioimput{
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.formularioimput:hover{
    color: grey;
}
.textarea{
    padding: 20px;
}

.item{
    background-color: blue;
}

.contenedorindex{
    height: 750px;
    border: 3px;
    padding-top: 7%;
    margin-left: 5%;
    margin-right: 5%;
}
.contenedorsm{
    height: 650px;
    border: 3px;
    padding-top: 7%;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-areas:
                        "item1sb item2sb";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 550px;
    grid-column-gap: 2%;
    grid-row-gap: 5%;
}
.contenedormamc{
    height: 650px;
    border: 3px;
    padding-top: 7%;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-areas:
                        "item1sb item2sb";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 550px;
    grid-column-gap: 2%;
    grid-row-gap: 5%;
}
.contenedorhobbies{
    height: 650px;
    border: 3px;
    padding-top: 7%;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-areas:
                        "item1h item2h item3h";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 550px;
    grid-column-gap: 2%;
    grid-row-gap: 5%;
}
.item1h{
    background-image: url(../img/1.futbol.jpg);
    background-size: cover;
    background-position: center;
    grid-area: item1h;
}
.item2h{
    background-image: url(../img/2.guitarra.jpg);
    background-size: cover;
    background-position: center;
    grid-area: item2h;
}
.item3h{
    background-image: url(../img/3.apdelourdes.jpg);
    background-size: cover;
    background-position: center;
    grid-area: item3h;
}
.contenedorform{
    height: 650px;
    border: 3px;
    padding-top: 7%;
    margin-left: 5%;
    margin-right: 5%;
}

/* Mobile */
@media only screen and (max-width: 480px){
    header{
        height: 0px;
        font-size: 16px;
        display: flex;
        justify-content: flex-start;
        text-decoration: none;
    }
    .titulos{
        font-size: 20px;
        margin-top: 20%;
    }
    main{
        height: 100%;
        width: 100%;
        background-size: cover;
    }
    footer{
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .contenedorindex{
        padding-top: 20%;
        height: 300px;
    }
    .contenedorsm{
        padding-top: 20%;
        display: grid;
        grid-template-areas:
                            "item1sm"
                            "item2sm";
        grid-template-columns: 1fr;
        grid-template-rows: 180px 180px;
    }
    .contenedormamc{
        padding-top: 25%;
        display: grid;
        grid-template-areas: 
                            "item1mamc"
                            "item2mamc";
        grid-template-columns: 1fr;
        grid-template-rows: 180px 180px;
    }
    .contenedorhobbies{
        padding-top: 20%;
        width: auto;
        margin: auto;
        display: grid;
        grid-template-areas:
                            "item1h"
                            "item2h"
                            "item3h";
        grid-template-columns: 1fr;
        grid-template-rows: 120px 120px 120px;
    }
    .formulario{
        font-size: 20px;
        margin: auto;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    input{
        font-size: 20px;
    }
    textarea{
        font-size: 20px;
    }
    .textarea{
        padding: 0px;
    }
    .formbottoms{
        padding-top: 10px;
        font-size: 16px;
    }
}
/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 978px){
    header{
        height: 0px;
        font-size: 16px;
    }
    .titulos{
        font-size: 30px;
        margin-top: 10%;
    }
    main{
        height: 100%;
        width: 100%;
        background-size: cover;
    }
    footer{
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .contenedorindex{
        padding-top: 20%;
        height: 500px;
    }
    .contenedorsm{
        padding-top: 20%;
        display: grid;
        grid-template-areas:
                            "item1sm"
                            "item2sm";
        grid-template-columns: 1fr;
        grid-template-rows: 250px 250px;
    }
    .contenedormamc{
        padding-top: 25%;
        display: grid;
        grid-template-areas: 
                            "item1mamc"
                            "item2mamc";
        grid-template-columns: 1fr;
        grid-template-rows: 250px 250px;
    }
    .contenedorhobbies{
        padding-top: 20%;
        width: auto;
        margin: auto;
        display: grid;
        grid-template-areas:
                            "item1h"
                            "item2h"
                            "item3h";
        grid-template-columns: 1fr;
        grid-template-rows: 160px 160px 160px;
    }
    .formulario{
        font-size: 25px;
        margin: auto;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    input{
        font-size: 25px;
    }
    textarea{
        font-size: 25px;
    }
    .textarea{
        padding: 0px;
    }
    .formbottoms{
        padding-top: 10px;
        font-size: 20px;
    }
}
/* Desktop */
@media only screen and (min-width: 979px){}
