@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

$color1: white;
$color2: #00ffff;
$color3: #ffa500;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}
span{
    color: $color2;
}
.span-2{
    color: $color3;
}
body{
    min-width: 480px;
    color: $color1;
    background-image: url(../img/0.fondooscuro2.png);
}
header{
    color: $color1;
    font-size: 20px;
    height:50px;
    text-align: center;
    nav{
        ul{
            float: right;
            margin-top: 10px;
            margin-right: 20px;
        }
    }
}
nav ul li{
    display: inline-block; 
    line-height: 60px;
    margin: 0 5px;
    a{
        color: $color1;
        font-size: 20px;
        padding: 7px 13px;
        border-radius: 3px;
        text-decoration: none;
    }
    .inicio{
        color: $color3;
    }
    a:hover{
        color: $color2;
    }
    a.active, a:hover{
        background: black;
        transition: .5s;
    }
}
.checkbtn{
    font-size: 30px;
    color: $color1;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.logo{
    height: 40px;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}
h1{
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
}
.titulos{
    width: 100%;
    margin-top: 20px;
    height: 50px;
}
.bienvenida-h1{
    font-size: 24px;
    padding-top: 180px;
}
.main-index{
    min-height: calc(100vh - 340px);
    max-width: 750px;
    font-size: 20px ;
}
.adl{
    text-decoration: none;
}
main{
    min-height: calc(100vh - 210px);
    width: 100%;
    background-size: cover;
    .contacto{
        padding-top: 100px;
        text-align: center;
        margin: auto;
        max-width: 600px;
        label{
            font-size: 20px;
        }
        .radioimput{
            cursor: pointer;
        }
        .textarea{
            padding-top: 25px;
        }
        .formularioimput{
            color: $color1;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        .formularioimput:hover{
            color: $color2;
            transition: 0.5s;
        }
    }
}
.container{
    padding-top: 80px;
}
.container-index{
    padding-top: 120px;
}
.container-aficiones{
    padding-top: 120px;
}
footer{
    margin-top: 20px;
    margin-bottom: 20px;
    color: $color1;
    text-align: center;
    transition: all 2s;
    .redes{
        i{
            color: $color1;
            font-size: 40px;
            letter-spacing: 15px;
        }
        i:hover{
            color: $color3;
            transition: 0.5s;
        }
    }
}
.animacion1{
    animation-name: animacion1;
    animation-duration: 4s;
}
@keyframes animacion1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.animacion2{
    animation-name: animacion2;
    animation-duration: 4s;
}
@keyframes animacion2{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.animacionfooter{
    animation-name: animacionfooter;
    animation-duration: 6s;
}
@keyframes animacionfooter{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media (max-width: 1100px){
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 900px){
    .bienvenida-h1{
        padding-top: 30px;
    }
    .bienvenida-p{
        padding-top: 50px;
    }
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        li{
            display: block;
            margin: 50px 0;
            line-height: 30px;
            li a:hover, li.active{
                background: none;
                color: gray;
            }
            a{
                font-size: 20px;
                text-decoration: none;
            }
        }
    }
    #check:checked ~ul{
        left: 0;
    }
}
@media (max-width: 767px){
    .footeraficiones{
        margin-bottom: 20px;
    }
}